app/designer/node_modules
app/designer/dist
app/designer/dist/
app/designer/dist/*
app/designer/dist/assets


gen
mta_archives
node_modules

/node_modules
/node_modules/

/test/request.http
/test/*
/test
/test/

